.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-Arrow {
  width: 1.2001953125em;
}

.icon-advantages {
  width: 1.1943359375em;
}

.icon-call {
  width: 0.87109375em;
}

.icon-equipment {
  width: 1.2646484375em;
}

.icon-experience {
  width: 0.9091796875em;
}

.icon-Facebook-iconr {
  width: 0.5947265625em;
}

.icon-logo {
  width: 2em;
}
